node_modules/
.data/
/.env*
!.env.example
coverage/
test-results/
playwright-report/
*.log
*.tsbuildinfo

# production
/build
dist/

# next.js
.next/
/out/

# misc
.DS_Store
.zed
.vscode

# typescript
*.tsbuildinfo
next-env.d.ts

# ai
**/.opencode
**/.agents
**/AGENTS.md
